/* colors */
/* colors variables */
/* basic */
/* animations */
/* colors maps */
/* text */
/* background */
/* box-shadow */
/* fonts */
/* font size map */
/* font family variables */
/* font family map */
/* page size */
/* page width */
/* breaking points map */
/* animations */
/* btn */
/* like */
/* back arrow */
/* howitworks-item */
/* check */
/* menu-item apparition */
/*  PROBLEM 
$item-delay: 100ms;
$menu-item-anim-duration: dollar i * $item-delay;
for @for loop but doesn't work 
*/
/* loader */
/* waits 2000ms so dots have time to jump up and down,
then takes 1000ms to fade away */
/* 1000ms is duration for 1x up-down (= how fast dots move),
will be repeated 3 TIMES (covers delay + duration of loader anim),
NOT infinite or, although invisible and underneath, they would jump up and down forever */
/* breaking points */
/* style */
/* links */
/* lists */
/* box-shadow */
/* font family and size */
/* background and text colors */
/* container size */
/* conatiner shape */
/* layout */
/* explore/order buttons */
/* menu-item animation */
@keyframes menu-item-anim {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* homepage loader animation */
/* loader disappears after 3000ms */
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  95% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    z-index: -99;
    /* so not in the way after it dissapeared */
  }
}
/* dots jump up and down */
@keyframes dots {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
    /* starts with going up */
  }
  100% {
    transform: translateY(0px);
  }
}
/* general display */
* {
  /* reset margin and padding */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* define minimum/maximum width */
  min-width: 375px;
  max-width: 1920px;
  margin: auto;
}

span {
  /* span instead of div because inside inline element (a href) */
  display: block;
  /* so span behaves as a div */
}

i {
  display: inline-block;
}

/* links style */
main {
  /* links take color from map $color-txt, 
  default is main but can be changed for footer */
  /* color by default is color for main txt so no need to specify here */
}
main a {
  text-decoration: none;
  color: black;
}
main a:visited, main a[href^=mailto] {
  color: black;
}

/* font less bold in Firefox */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}
/* define fonts */
@font-face {
  font-family: "shrikhandregular";
  src: url("../../fonts/shrikhand/shrikhand-regular-webfont.eot");
  src: url("../../fonts/shrikhand/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("../../fonts/shrikhand/shrikhand-regular-webfont.woff") format("woff"), url("../../fonts/shrikhand/shrikhand-regular-webfont.ttf") format("truetype"), url("../../fonts/shrikhand/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("../../fonts/roboto/roboto-medium-webfont.eot");
  src: url("../../fonts/roboto/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-medium-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-medium-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-medium-webfont.ttf") format("truetype"), url("../../fonts/roboto/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../../fonts/roboto/roboto-regular-webfont.eot");
  src: url("../../fonts/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-regular-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-regular-webfont.ttf") format("truetype"), url("../../fonts/roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("../../fonts/roboto/roboto-light-webfont.eot");
  src: url("../../fonts/roboto/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-light-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-light-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-light-webfont.ttf") format("truetype"), url("../../fonts/roboto/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
h1 {
  /* ex: @include font-family-size (h1) */
  font-family: "robotomedium", "arial", "sans-serif";
  font-size: 1.5rem;
  /* default is square */
  width: 100%;
  height: auto;
  line-height: 1.7rem;
}

h2 {
  /* ex: @include font-family-size (h1) */
  font-family: "robotomedium", "arial", "sans-serif";
  font-size: 1.45rem;
  /* default is square */
  width: 100%;
  height: auto;
}

h3 {
  /* ex: @include font-family-size (h1) */
  font-family: "shrikhandregular", "cursive", "sans-serif";
  font-size: 1.7rem;
}

h4 {
  /* ex: @include font-family-size (h1) */
  font-family: "robotolight", "arial", "sans-serif";
  font-size: 1rem;
  text-transform: uppercase;
}

em {
  font-weight: bold;
  font-style: normal;
}

/* explore button */
#presentation .btn {
  height: 50px;
  width: 218px;
  background: linear-gradient(175deg, #ff7ad9, #9256dc);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 5px 8px #c4c4c4;
  position: relative;
  top: auto;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: auto;
  margin: 25px 0 0 0;
}
#presentation .btn:hover::after {
  opacity: 1;
}
#presentation .btn::after {
  content: "Explorer nos restaurants";
  height: 50px;
  width: 218px;
  background: linear-gradient(175deg, #ff8edf, #a26fe1);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 5px 8px #b8b8b8;
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  position: absolute;
  top: 0;
  /* default value is 'auto' */
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: opacity 250ms;
}

/* order button */
.menu .btn {
  height: 50px;
  width: 186px;
  background: linear-gradient(175deg, #ff7ad9, #9256dc);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 5px 8px #c4c4c4;
  position: relative;
  top: auto;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
}
.menu .btn:hover::after {
  opacity: 1;
}
.menu .btn::after {
  content: "Commander";
  height: 50px;
  width: 186px;
  background: linear-gradient(175deg, #ff8edf, #a26fe1);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 5px 8px #b8b8b8;
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  position: absolute;
  top: 0;
  /* default value is 'auto' */
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

/* like button */
.like {
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  position: relative;
  top: auto;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: auto;
  cursor: pointer;
  z-index: 1;
}
.like:hover .far {
  /* empty heart disappears */
  opacity: 0;
}
.like:hover .fas {
  /* full heart appears */
  opacity: 1;
}
.like .far {
  /* empty heart visible */
  opacity: 1;
  transition: opacity 400ms;
}
.like .fas {
  /* full heart invisble */
  background: linear-gradient(180deg, #9256dc, #ff7ad9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 400ms;
}

.fa-heart {
  font-size: 1.4rem;
  transform: scaleY(1.1);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  position: absolute;
  top: -20px;
  /* default value is 'auto' */
  right: -8px;
  bottom: auto;
  left: auto;
  padding: 5px;
  /* increases heart 'hover/click area' for better user experience */
  z-index: 10;
  /* so over a href link */
}

.howitworks-item {
  /* ex: @include color-bg-txt (header) */
  background-color: whitesmoke;
  color: black;
  box-shadow: 0 5px 8px #e6e6e6;
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  position: relative;
  top: auto;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: auto;
  /* default is square */
  width: 325px;
  height: 72px;
  margin: 12px 0 12px 10px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1;
  /* so txt over hover bg */
}
@media all and (min-width: 1200px) {
  .howitworks-item {
    margin: 0 30px;
  }
}
.howitworks-item:hover::after {
  opacity: 1;
}
.howitworks-item:hover .fas {
  color: #9256dc;
}
.howitworks-item::after {
  content: "";
  background-color: #f4ebff;
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  position: absolute;
  top: 0;
  /* default value is 'auto' */
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  opacity: 0;
  z-index: -1;
  /* because bg, needs to be under txt */
  transition: opacity 250ms;
}
.howitworks-item__bullet {
  /* ex: @include font-family-size (h1) */
  font-family: "robotoregular", "arial", "sans-serif";
  font-size: 0.85rem;
  /* ex: @include color-bg-txt (header) */
  background-color: #9256dc;
  color: white;
  position: absolute;
  top: 24px;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: -12px;
  /* position circle */
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0 0 2px 0;
}
.howitworks-item__bullet p {
  position: absolute;
  top: 4px;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: 8px;
  /* because flexbox doesn't work properly in Firefox */
}
.howitworks-item i {
  color: #7d7d7d;
  position: absolute;
  top: 28px;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: 35px;
  /* because flexbox doesn't work properly in Firefox */
  transition: color 250ms;
}
.howitworks-item .fa-mobile-alt {
  transform: scale(1.3, 1.3);
}
.howitworks-item .fa-list {
  transform: scale(1, 1.3);
}
.howitworks-item .fa-store {
  transform: scale(1, 1.2);
}

.restaurant-preview {
  /* ex: @include color-bg-txt (header) */
  background-color: white;
  color: black;
  box-shadow: 0 5px 8px #dddddd;
  /* default is square */
  width: 100%;
  height: 250px;
  max-width: 600px;
  margin: 9px 0;
  border-radius: 15px;
}
@media all and (min-width: 768px) {
  .restaurant-preview {
    width: 45%;
    margin: 9px 10px 30px 10px;
  }
}
@media all and (min-width: 1200px) {
  .restaurant-preview {
    margin: 9px 28px 30px 28px;
  }
}
.restaurant-preview .container {
  /* default is square */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  position: relative;
  top: auto;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: auto;
}
.restaurant-preview__new {
  /* ex: @include font-family-size (h1) */
  font-family: "robotoregular", "arial", "sans-serif";
  font-size: 0.85rem;
  /* ex: @include color-bg-txt (header) */
  background-color: #98e2cf;
  color: #007558;
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  position: absolute;
  top: 13px;
  /* default value is 'auto' */
  right: 13px;
  bottom: auto;
  left: auto;
  /* default is square */
  width: 80px;
  height: 30px;
  border-radius: 2px;
  z-index: 1;
}
.restaurant-preview__image {
  position: relative;
  top: auto;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: auto;
  /* default is square */
  width: 100%;
  height: 175px;
}
.restaurant-preview__image img {
  /* default is square */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 100%;
  border-radius: 15px 15px 0 0;
}
.restaurant-preview__image #img-note {
  object-position: 0 61%;
}
.restaurant-preview__info {
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-between;
  /* default is 'flex-start' */
  align-items: center;
  /* default is square */
  width: 100%;
  height: 75px;
  padding: 0 24px 0 14px;
}
.restaurant-preview__name {
  /* ex: @include font-family-size (h1) */
  font-family: "robotomedium", "arial", "sans-serif";
  font-size: 1.1rem;
}
.restaurant-preview__location {
  /* ex: @include font-family-size (h1) */
  font-family: "robotolight", "arial", "sans-serif";
  font-size: 1.1rem;
}

.menu-item {
  /* ex: @include color-bg-txt (header) */
  background-color: white;
  color: black;
  box-shadow: 0 5px 8px #dddddd;
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-between;
  /* default is 'flex-start' */
  align-items: flex-end;
  position: relative;
  top: auto;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: auto;
  /* default is square */
  width: 100%;
  height: 68px;
  max-width: 450px;
  margin: 14px 0px auto;
  padding: 15px 23px 15px 11px;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  /* so can't see check arriving before it's in the menu-item */
  animation: menu-item-anim 600ms both ease-in-out;
  /* 
  @for $i from 1 through 4{
      &--dollar i{
        animation-delay: $item-delay * dollar i;
      }
  }
  doesn't work: undefined variable dollar i
  */
}
.menu-item--1 {
  animation-delay: 150ms;
}
.menu-item--2 {
  animation-delay: 300ms;
}
.menu-item--3 {
  animation-delay: 450ms;
}
.menu-item--4 {
  animation-delay: 600ms;
}
.menu-item__description {
  flex: 1;
  /* so takes all the space up to the price */
  margin-right: 0;
  transition: margin-right 400ms;
}
.menu-item__description p:first-child {
  /* ex: @include font-family-size (h1) */
  font-family: "robotomedium", "arial", "sans-serif";
  font-size: 1.15rem;
}
.menu-item__description p:nth-child(2) {
  /* ex: @include font-family-size (h1) */
  font-family: "robotolight", "arial", "sans-serif";
  font-size: 0.92rem;
}
.menu-item:hover .menu-item__description {
  margin-right: 59px;
}
.menu-item .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.menu-item__price {
  /* ex: @include font-family-size (h1) */
  font-family: "robotomedium", "arial", "sans-serif";
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: flex-end;
  /* default is 'flex-start' */
  align-items: flex-end;
  padding-left: 20px;
  transform: translateX(0);
  transition: transform 400ms;
}
.menu-item:hover .menu-item__price {
  transform: translateX(-59px);
}
.menu-item__check {
  background-color: #98e2cf;
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  position: absolute;
  top: 0;
  /* default value is 'auto' */
  right: 0;
  bottom: auto;
  left: auto;
  /* default is square */
  width: 59px;
  height: 68px;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 400ms, opacity 0ms;
  /* duration 0 for opacity so check appears right away */
}
.menu-item:hover .menu-item__check {
  opacity: 1;
  transform: translateX(0);
}
.menu-item__check-icon {
  font-size: 0.85rem;
  /* ex: @include color-bg-txt (header) */
  background-color: white;
  color: #98e2cf;
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  position: relative;
  top: auto;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: rotate(-450deg);
  transition: transform 400ms;
}
.menu-item__check-icon .fas {
  position: relative;
  top: 1px;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: auto;
}
.menu-item:hover .menu-item__check-icon {
  transform: rotate(0deg);
}

/* loader */
.loader {
  background: rgba(246, 246, 246, 0.9);
  position: fixed;
  top: 0;
  /* default value is 'auto' */
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  z-index: 99;
  /* is on top of everything */
  animation: loader 1000ms 2000ms linear both;
  /* is there from the start (opacity 1 while waiting / dots jumping up and down,
  stays away forever (opacity 0) */
}
.loader .dots {
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  /* default is square */
  width: 100px;
  height: 50px;
}
.loader__dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 3px;
  animation: dots 1000ms ease-in-out 3;
}
.loader__dot--1 {
  background-color: #9256dc;
  animation-delay: 100ms;
}
.loader__dot--2 {
  background-color: #ff7ad9;
  animation-delay: 200ms;
}
.loader__dot--3 {
  background-color: #98e2cf;
  animation-delay: 300ms;
}
.loader__dot--4 {
  background-color: #7d7d7d;
  animation-delay: 400ms;
}

header {
  /* ex: @include color-bg-txt (header) */
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  position: relative;
  top: auto;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: auto;
  /* default is square */
  width: 100%;
  height: auto;
  padding: 23px 0 7px 0;
}
header i {
  font-size: 1.2rem;
  color: black;
}

#back-arrow {
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  position: absolute;
  top: 16px;
  /* default value is 'auto' */
  right: 0;
  bottom: 0;
  left: 13px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  z-index: 1;
}
#back-arrow:hover i {
  color: #60d2b6;
}
#back-arrow:hover::after {
  opacity: 1;
}
#back-arrow::after {
  /* shows back arrow is clickable for better user experience */
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  position: absolute;
  top: 0;
  /* default value is 'auto' */
  right: 0;
  bottom: 0;
  left: 0;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  content: "";
  background-color: #e0f6f1;
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms;
}

#logo {
  width: 165px;
  margin: 0 auto;
  padding: 0 0 0 0;
}
#logo img {
  /* default is square */
  width: 100%;
  height: auto;
}

footer {
  /* links take color from map $color-txt, 
  default is main but can be changed for footer */
  /* ex: @include font-family-size (h1) */
  font-family: "robotolight", "arial", "sans-serif";
  font-size: 1rem;
  /* ex: @include color-bg-txt (header) */
  background-color: #363636;
  color: white;
  position: relative;
  top: auto;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: auto;
  /* default is square */
  width: 100%;
  height: auto;
  padding: 25px 25px 15px 25px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:visited, footer a[href^=mailto] {
  color: white;
}
footer span {
  display: inline;
  padding: 0 0 0 8px;
}
footer ul {
  /* remove list markers and indentation */
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin: 20px 0;
  line-height: 1.5rem;
}
footer ul .fa-fw {
  text-align: left;
  width: 1em;
}

.logo-svg {
  fill: white;
  /* change color logo svg */
}

.fa-utensils {
  transform: scale(0.9, 0.81);
  position: relative;
  top: auto;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: -2px;
}

.fa-hands-helping {
  transform: scale(0.6, 0.81);
  position: relative;
  top: auto;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: -4px;
}

#location {
  /* ex: @include font-family-size (h1) */
  font-family: "robotoregular", "arial", "sans-serif";
  font-size: 1rem;
  /* ex: @include color-bg-txt (header) */
  background-color: #ebebeb;
  color: black;
  /* default is square */
  width: 100%;
  height: auto;
  padding: 14px;
  box-shadow: inset 0px 5px 5px -5px #a5a5a5;
}

.location-content {
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  margin: 0 auto;
}
.location-content p {
  position: relative;
  top: auto;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: auto;
}
.location-content i {
  position: absolute;
  top: auto;
  /* default value is 'auto' */
  right: auto;
  bottom: auto;
  left: -30px;
}

#presentation {
  /* ex: @include font-family-size (h1) */
  font-family: "robotolight", "arial", "sans-serif";
  font-size: 1.1rem;
  /* ex: @include color-bg-txt (header) */
  background-color: whitesmoke;
  color: black;
  /* default is square */
  width: 100%;
  height: auto;
  padding: 42px 38px 54px 38px;
  text-align: center;
}
#presentation h1 {
  margin: 0 0 15px 0;
  padding: 0 10px 0 10px;
}

#howitworks {
  /* ex: @include font-family-size (h1) */
  font-family: "robotomedium", "arial", "sans-serif";
  font-size: 1rem;
  /* ex: @include color-bg-txt (header) */
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-around;
  /* default is 'flex-start' */
  align-items: center;
  /* default is square */
  width: 100%;
  height: auto;
  padding: 30px 20px 56px 20px;
}
@media all and (min-width: 1200px) {
  #howitworks {
    display: flex;
    flex-direction: row;
    /* default is row */
    flex-wrap: wrap;
    /* default is 'nowrap' */
    justify-content: center;
    /* default is 'flex-start' */
    align-items: center;
  }
}
#howitworks h2 {
  margin: 20px 0 13px 0;
}

#restaurants {
  /* ex: @include color-bg-txt (header) */
  background-color: whitesmoke;
  color: black;
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-around;
  /* default is 'flex-start' */
  align-items: center;
  /* default is square */
  width: 100%;
  height: auto;
  padding: 40px 20px 50px 20px;
}
@media all and (min-width: 768px) {
  #restaurants {
    display: flex;
    flex-direction: row;
    /* default is row */
    flex-wrap: wrap;
    /* default is 'nowrap' */
    justify-content: space-around;
    /* default is 'flex-start' */
    align-items: center;
  }
}
@media all and (min-width: 1200px) {
  #restaurants {
    display: flex;
    flex-direction: row;
    /* default is row */
    flex-wrap: wrap;
    /* default is 'nowrap' */
    justify-content: center;
    /* default is 'flex-start' */
    align-items: center;
  }
}
#restaurants h2 {
  margin: 15px 0;
}

.menu {
  /* ex: @include color-bg-txt (header) */
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  /* default is square */
  width: 100%;
  height: auto;
  z-index: 1;
}
.menu__img {
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  /* default is square */
  width: 100%;
  height: 275px;
  justify-content: center;
  z-index: 2;
}
.menu__img img {
  /* default is square */
  width: 100%;
  height: 100%;
  max-width: 600px;
  object-fit: cover;
  z-index: 3;
}
.menu__txt {
  /* ex: @include color-bg-txt (header) */
  background-color: whitesmoke;
  color: black;
  /* default is square */
  width: 100%;
  height: auto;
  max-width: 800px;
  border-radius: 40px 40px 0 0;
  margin: -55px 0 0 0;
  padding: 30px 13px 70px 13px;
  z-index: 4;
}
@media all and (min-width: 1200px) {
  .menu__txt {
    max-width: 1500px;
  }
}
.menu__title {
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: space-between;
  /* default is 'flex-start' */
  align-items: center;
  padding: 0 24px 25px 5px;
}
@media all and (min-width: 1200px) {
  .menu__dishes {
    display: flex;
    flex-direction: row;
    /* default is row */
    flex-wrap: nowrap;
    /* default is 'nowrap' */
    justify-content: space-around;
    /* default is 'flex-start' */
    align-items: center;
  }
}
.menu__dish-type {
  margin: 0 0 43px 0;
}
@media all and (min-width: 1200px) {
  .menu__dish-type {
    width: 30%;
    margin: 0 10px 43px 10px;
  }
}
.menu__dish-list {
  display: flex;
  flex-direction: column;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
}
.menu h4 {
  padding: 0 0 0 7px;
}
.menu__line {
  background-color: #98e2cf;
  /* default is square */
  width: 40px;
  height: 3px;
  margin: 5px 0 7px 7px;
}
.menu .order-btn {
  display: flex;
  flex-direction: row;
  /* default is row */
  flex-wrap: nowrap;
  /* default is 'nowrap' */
  justify-content: center;
  /* default is 'flex-start' */
  align-items: center;
  padding: 10px 0;
}

/*# sourceMappingURL=style.css.map */
