/* colors */
/* colors variables */
/* basic */
/* animations */
/* colors maps */
/* text */
/* background */
/* box-shadow */
/* fonts */
/* font size map */
/* font-family */
/* variables */
/* how to add font options? */
/* map */
/* buttons */
/* breaking points map */
/* mobile 375-768px = default version */
/* animations */
/* btn */
/* like */
/* back arrow */
/* howitworks-item */
/* check */
/* menu-item apparition */
/*   
$item-delay: 100ms;
$menu-item-anim-duration: dollar i * $item-delay;
for @for loop but doesn't work 
*/
/* loading spinner */
/* remove underlining and different color */
/* links take color from map $color-txt, default is main but can be changed for footer */
/* explore/order buttons */
/* box-shadow */
/* breaking points */
/* menu-item animation */
@keyframes menu-item-anim {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* loader animation */
/* loader disappears after 2500ms */
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -99;
    /* so is not in the way anymore */
  }
}
/* dots jump up and down */
@keyframes dots {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
    /* starts with going up */
  }
  100% {
    transform: translateY(0px);
  }
}
* {
  /* reset margin and padding */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* define minimum/maximum width */
  min-width: 375px;
  max-width: 1920px;
  margin: auto;
}

span {
  /* span instead of div because inside inline element (a href) */
  display: block;
  /* so span behaves as a div */
}

i {
  display: inline-block;
}

main {
  /* color by default is color for main txt so no need to specify here */
}
main ul {
  /* remove list markers and indentation */
  list-style-type: none;
  padding: 0;
  margin: 0;
}
main a {
  text-decoration: none;
  color: black;
}
main a:visited, main a[href^=mailto] {
  color: black;
}

/* define fonts */
@font-face {
  font-family: "shrikhandregular";
  src: url("../fonts/shrikhand/shrikhand-regular-webfont.eot");
  src: url("../fonts/shrikhand/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("../fonts/shrikhand/shrikhand-regular-webfont.woff") format("woff"), url("../fonts/shrikhand/shrikhand-regular-webfont.ttf") format("truetype"), url("../fonts/shrikhand/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoblack";
  src: url("../fonts/roboto/roboto-black-webfont.eot");
  src: url("../fonts/roboto/roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-black-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-black-webfont.woff") format("woff"), url("../fonts/roboto/roboto-black-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-black-webfont.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../fonts/roboto/roboto-bold-webfont.eot");
  src: url("../fonts/roboto/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("../fonts/roboto/roboto-medium-webfont.eot");
  src: url("../fonts/roboto/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../fonts/roboto/roboto-regular-webfont.eot");
  src: url("../fonts/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("../fonts/roboto/roboto-light-webfont.eot");
  src: url("../fonts/roboto/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotothin";
  src: url("../fonts/roboto/roboto-thin-webfont.eot");
  src: url("../fonts/roboto/roboto-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-thin-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-thin-webfont.woff") format("woff"), url("../fonts/roboto/roboto-thin-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  color: black;
}

h1 {
  font-family: "robotomedium";
  font-size: 1.5rem;
  line-height: 1.7rem;
}

h2 {
  font-family: "robotomedium";
  font-size: 1.45rem;
}

h3 {
  font-family: "shrikhandregular";
  font-size: 1.7rem;
}

h4 {
  font-family: "robotolight";
  font-size: 1rem;
  text-transform: uppercase;
}

em {
  font-weight: bold;
  font-style: normal;
}

/* explore button */
#presentation .btn {
  height: 50px;
  width: 218px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 5px 8px #c3c3c3;
  margin: 25px 0 15px 0;
  position: relative;
}
#presentation .btn:hover::after {
  opacity: 1;
}
#presentation .btn::after {
  content: "Explorer nos restaurants";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 218px;
  background: linear-gradient(175deg, #ff93e1, #a16be0);
  border: none;
  border-radius: 25px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 5px 8px #b6b6b6;
  opacity: 0;
  z-index: 1;
  transition: opacity 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* order button */
.menu .btn {
  height: 50px;
  width: 186px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 5px 8px #c3c3c3;
  position: relative;
  z-index: 1;
}
.menu .btn:hover::after {
  opacity: 1;
}
.menu .btn::after {
  content: "Commander";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 186px;
  background: linear-gradient(175deg, #ff93e1, #a16be0);
  border: none;
  border-radius: 25px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 5px 8px #b6b6b6;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* like button */
.like {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}
.like:hover .far {
  /* empty heart disappears */
  opacity: 0;
}
.like:hover .fas {
  /* full heart appears */
  opacity: 1;
}
.like .far {
  /* empty heart visible */
  opacity: 1;
  transition: opacity 400ms;
}
.like .fas {
  /* full heart invisble */
  opacity: 0;
  background: -webkit-linear-gradient(270deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: opacity 400ms;
}

.fa-heart {
  font-size: 1.4rem;
  transform: scaleY(1.1);
  font-weight: lighter;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  top: -20px;
  right: -8px;
  padding: 10px;
  /* increases heart 'hover/click area' for better user experience */
}

.howitworks-item {
  width: 325px;
  height: 72px;
  margin: 12px 0;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0 5px 8px #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
  /* so txt over hover bg */
}
@media all and (min-width: 1200px) {
  .howitworks-item {
    margin: 0 30px;
  }
}
.howitworks-item:hover::after {
  opacity: 1;
}
.howitworks-item:hover .fas {
  color: #9356DC;
}
.howitworks-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  opacity: 0;
  z-index: -1;
  /* because bg, needs to be under txt */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms;
  background-color: #f5edff;
}
.howitworks-item__bullet {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #9356DC;
  color: #ffffff;
  position: absolute;
  left: -12px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 2px 0;
  font-family: "robotoregular";
  font-size: 0.85rem;
}
.howitworks-item i {
  position: absolute;
  left: 35px;
  color: #7e7e7e;
  transition: color 250ms;
}
.howitworks-item .fa-mobile-alt {
  transform: scale(1.3, 1.3);
}
.howitworks-item .fa-list {
  transform: scale(1, 1.3);
}
.howitworks-item .fa-store {
  transform: scale(1, 1.2);
}

.restaurant-preview {
  width: 100%;
  max-width: 600px;
  height: 250px;
  margin: 9px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 5px 8px #dddddd;
}
@media all and (min-width: 768px) {
  .restaurant-preview {
    width: 45%;
    margin: 9px 10px 30px 10px;
  }
}
@media all and (min-width: 1200px) {
  .restaurant-preview {
    margin: 9px 28px 30px 28px;
  }
}
.restaurant-preview__new {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  color: #008766;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-family: "robotoregular";
  font-size: 0.85rem;
}
.restaurant-preview__image {
  width: 100%;
  height: 175px;
  position: relative;
}
.restaurant-preview__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 100%;
  border-radius: 15px 15px 0 0;
}
.restaurant-preview__image #img-note {
  object-position: 0 61%;
}
.restaurant-preview__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 0 14px;
  height: 75px;
}
.restaurant-preview__name {
  font-family: "robotomedium";
  font-size: 1.1rem;
}
.restaurant-preview__location {
  font-family: "robotolight";
  font-size: 1.1rem;
}

.menu-item {
  background-color: #ffffff;
  padding: 15px 23px 15px 11px;
  margin: 14px 0px auto;
  width: 100%;
  max-width: 450px;
  height: 68px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  /* so can't see check arriving before it's in the menu-item */
  box-shadow: 0 5px 8px #dddddd;
  animation: menu-item-anim 600ms both ease-in-out;
  /* 
  @for $i from 1 through 4{
      &--dollar i{
        animation-delay: $item-delay * dollar i;
      }
  }
  doesn't work: undefined variable dollar i
  */
}
.menu-item--1 {
  animation-delay: 150ms;
}
.menu-item--2 {
  animation-delay: 300ms;
}
.menu-item--3 {
  animation-delay: 450ms;
}
.menu-item--4 {
  animation-delay: 600ms;
}
.menu-item__description {
  flex: 1;
  margin-right: 0;
  transition: margin-right 400ms;
}
.menu-item__description p:first-child {
  font-family: "robotomedium";
  font-size: 1.15rem;
}
.menu-item__description p:nth-child(2) {
  font-family: "robotothin";
  font-size: 0.92rem;
}
.menu-item:hover .menu-item__description {
  margin-right: 59px;
}
.menu-item .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.menu-item__price {
  font-family: "robotomedium";
  font-size: 0.9rem;
  transform: translateX(0);
  transition: transform 400ms;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 20px;
}
.menu-item:hover .menu-item__price {
  transform: translateX(-59px);
}
.menu-item__check {
  background-color: #99E2D0;
  width: 59px;
  height: 68px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 400ms, opacity 0ms;
  /* duration 0 for opacity so check appears right away */
}
.menu-item:hover .menu-item__check {
  transform: translateX(0);
  opacity: 1;
}
.menu-item__check-icon {
  background-color: #ffffff;
  color: #99E2D0;
  font-family: "robotolight";
  font-size: 0.85rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: rotate(-450deg);
  transition: transform 400ms;
}
.menu-item__check-icon .fas {
  position: relative;
  top: 1px;
}
.menu-item:hover .menu-item__check-icon {
  transform: rotate(0deg);
}

/* loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(246, 246, 246, 0.8);
  z-index: 99;
  /* is on top of everything */
  animation: loader 500ms 2000ms ease-out both;
  /* waits 2000ms so dots have time to jump up and down,
  then takes 500ms to fade away (= opacity 0.8*1 -> 0.8*0), 
  is there from the start (opacity 0.8 while waiting / dots jumping up and down,
  stays away forever (opacity 0) */
}
.loader .dots {
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__dot {
  width: 14px;
  height: 14px;
  margin: 0 3px;
  border-radius: 50%;
  animation: dots 1000ms ease-in-out infinite;
  /* 1000ms is duration for 1x up-down (=how fast dots move),
  will be repeated for 2500ms (= delay + duration of loader anim) */
}
.loader__dot--1 {
  background-color: #9356DC;
  animation-delay: 100ms;
}
.loader__dot--2 {
  background-color: #FF79DA;
  animation-delay: 200ms;
}
.loader__dot--3 {
  background-color: #99E2D0;
  animation-delay: 300ms;
}
.loader__dot--4 {
  background-color: #7e7e7e;
  animation-delay: 400ms;
}

header {
  width: 100%;
  padding: 30px 0 5px 0;
  background-color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  height: 62px;
}
header i {
  font-size: 1.2rem;
  color: black;
}

#back-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 16px;
  top: 19px;
  padding: 10px;
  width: 30px;
  height: 30px;
  z-index: 1;
}
#back-arrow:hover::after {
  opacity: 1;
}
#back-arrow::after {
  /* shows back arrow is clickable for better user experience */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms;
  background-color: #d5f3eb;
  border-radius: 50%;
}

#logo {
  width: 165px;
  margin: 0 auto;
  padding: 0 0 12px 0;
}
#logo img {
  width: 100%;
}

footer {
  background-color: #353535;
  color: #ffffff;
  width: 100%;
  height: 198px;
  padding: 25px;
  position: relative;
  font-family: "robotolight";
  font-size: 1rem;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
footer a:visited, footer a[href^=mailto] {
  color: #ffffff;
}
footer span {
  display: inline;
  padding: 0 0 0 8px;
}
footer ul {
  list-style-type: none;
  /* remove list markers */
  padding: 0;
  /* remove indentation of list items */
  margin: 20px 0;
  line-height: 1.5rem;
}
footer ul .fa-fw {
  text-align: left;
  width: 1em;
}

.logo-svg {
  fill: #ffffff;
  /* change color logo svg */
}

.fa-utensils {
  transform: scale(0.9, 0.81);
  position: relative;
  left: -2px;
}

.fa-hands-helping {
  transform: scale(0.6, 0.81);
  position: relative;
  left: -4px;
}

#location {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  padding: 16px;
  box-shadow: inset 0px 5px 5px -5px #9e9e9e;
  font-family: "robotoregular", "arial", "sans-serif";
  font-size: 1rem;
}

.location-content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.location-content p {
  position: relative;
}
.location-content i {
  position: absolute;
  left: -30px;
}

#presentation {
  width: 100%;
  background-color: #f6f6f6;
  padding: 40px;
  text-align: center;
  font-family: "robotothin";
  font-size: 1.1rem;
}
#presentation h1 {
  margin: 0 5px 15px 5px;
}

#howitworks {
  width: 100%;
  background-color: #ffffff;
  padding: 32px 20px 56px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "robotomedium";
  font-size: 1rem;
}
@media all and (min-width: 1200px) {
  #howitworks {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
#howitworks h2 {
  width: 100%;
  margin: 20px 0;
  font-family: "robotomedium";
  font-size: 1.45rem;
}

#restaurants {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px 50px 20px;
}
@media all and (min-width: 768px) {
  #restaurants {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media all and (min-width: 1200px) {
  #restaurants {
    justify-content: center;
  }
}
#restaurants h2 {
  width: 100%;
  margin: 15px 0;
}

.menu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaeaea;
  z-index: 1;
}
.menu__img {
  height: 275px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.menu__img img {
  width: 100%;
  max-width: 600px;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 3;
}
.menu__txt {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin: 0 0 0 0;
  width: 100%;
  max-width: 800px;
  padding: 30px 13px 70px 13px;
  margin-top: -55px;
  z-index: 5;
}
@media all and (min-width: 1200px) {
  .menu__txt {
    max-width: 1500px;
  }
}
.menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 25px 5px;
}
@media all and (min-width: 1200px) {
  .menu__dishes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.menu__dish-type {
  margin: 0 0 43px 0;
}
@media all and (min-width: 1200px) {
  .menu__dish-type {
    width: 30%;
    margin: 0 10px 43px 10px;
  }
}
.menu__dish-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu h4 {
  padding: 0 0 0 7px;
}
.menu__line {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin: 5px 0 7px 7px;
}
.menu .order-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

/*# sourceMappingURL=style.css.map */
