/* menu-item animation */
@keyframes menu-item-anim{
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}


/* homepage loader animation */
/* loader disappears after 3000ms */
@keyframes loader{
  0% {
    opacity: 1;
  }
  50%{
    opacity: 0.2;
  }
  95%{
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    z-index: -99; /* so not in the way after it dissapeared */
  }
}

/* dots jump up and down */
@keyframes dots{
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px); /* starts with going up */
  }
  100% {
    transform: translateY(0px);
  }
}
