/* explore button */
#presentation .btn{
    @include btn(218px, map-get($map: $color-bg, $key: btn));
    @include box-shadow(map-get($color-box-shadow,btn));
    @include position(relative,auto, auto, auto, auto);
    margin: 25px 0 0 0;

    &:hover{
        &::after{
            opacity:1;
        }
    }

    &::after{
        content: "Explorer nos restaurants";
        @include btn(218px, map-get($map: $color-bg, $key: btn-hover));
        @include box-shadow(map-get($color-box-shadow,btn-hover));
        @include flexbox(row, nowrap, center, center);
        @include position(absolute, 0, 0, 0, 0);
        opacity: 0;
        z-index: 1;

        transition: opacity $btn-anim-duration;
    }  
}


/* order button */
.menu .btn{
    @include btn(186px, map-get($map: $color-bg, $key: btn));
    @include box-shadow(map-get($color-box-shadow,btn));
    @include position(relative, auto, auto, auto, auto);
    z-index: 1;

    &:hover{
        &::after{
            opacity:1;
        }
    }

    &::after{
        content: "Commander";
        @include btn(186px, map-get($map: $color-bg, $key: btn-hover));
        @include box-shadow(map-get($color-box-shadow,btn-hover));
        @include flexbox(row, nowrap, center, center);
        @include position(absolute, 0, 0, 0, 0);
        opacity: 0;
        z-index: -1;

        transition: opacity $btn-anim-duration;
    }  
}

/* like button */
.like{
    @include flexbox(row, nowrap, center, center);
    @include position(relative, auto, auto, auto, auto);
    cursor: pointer;
    z-index: 1;

    &:hover{
        .far{ /* empty heart disappears */
            opacity: 0;
        }
        .fas{ /* full heart appears */
            opacity: 1;
        }
    }

    .far{ /* empty heart visible */
        opacity: 1;

        transition: opacity $like-anim-duration;            
    }

    .fas{ /* full heart invisble */
        background: -webkit-linear-gradient(270deg,$color-primary, $color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;

        transition: opacity $like-anim-duration;
    }
}

.fa-heart{
    font-size:map-get($map: $font-size, $key: heart);
    transform: scaleY(1.1);
    background-color: transparent;
    @include flexbox(row, nowrap, center, center);
    @include position(absolute, -20px, -8px, auto, auto);
    padding: 10px; /* increases heart 'hover/click area' for better user experience */
    z-index: 10; /* so over a href link */
}
