/* explore button */
#presentation .btn{
    @include btn($width-explore, map-get($map: $color-bg, $key: btn));
    @include box-shadow(map-get($color-box-shadow,btn));
    margin: 25px 0 15px 0;
    position: relative;

    &:hover{
        &::after{
            opacity:1;
        }
    }
    &::after{
        content: "Explorer nos restaurants";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include btn($width-explore, map-get($map: $color-bg, $key: btn-hover));
        @include box-shadow(map-get($color-box-shadow,btn-hover));
        opacity: 0;
        z-index: 1;
        transition: opacity $btn-anim-duration;
        display: flex;
        justify-content: center;
        align-items: center;
    }  
}


/* order button */
.menu .btn{
    @include btn($width-order, map-get($map: $color-bg, $key: btn));
    @include box-shadow(map-get($color-box-shadow,btn));
    position: relative;
    z-index: 1;

    &:hover{
        &::after{
            opacity:1;
        }
    }
    &::after{
        content: "Commander";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include btn($width-order, map-get($map: $color-bg, $key: btn-hover));
        @include box-shadow(map-get($color-box-shadow,btn-hover));
        opacity: 0;
        z-index: -1;
        transition: opacity $btn-anim-duration;
        display: flex;
        justify-content: center;
        align-items: center;
    }  
}

/* like button */
.like{
    cursor: pointer;
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index: 1;
    position: relative;

    &:hover, &:active{
        .far{ /* empty heart disappears */
            opacity: 0;
        }
        .fas{ /* full heart appears */
            opacity: 1;
        }
    }

    .far{ /* empty heart visible */
        opacity: 1;
        transition: opacity $like-anim-duration;            
    }

    .fas{ /* full heart invisble */
        opacity: 0;
        background: -webkit-linear-gradient(270deg,$color-primary, $color-secondary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        transition: opacity $like-anim-duration;
    }
}

.fa-heart{
    font-size:map-get($map: $font-size, $key: heart);
    transform: scaleY(1.1);
    font-weight: lighter;
    background-color: transparent;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index: 10;
    position: absolute;
    top: -20px;
    right: -8px;
    padding: 10px; /* increases heart 'hover/click area' for better user experience */
}









        
    


 

      
    

