.howitworks-item{
    @include color-bg-txt(howitworks-item);
    @include box-shadow((map-get($color-box-shadow,howitworks)));
    @include flexbox(row, nowrap, center, center);
    @include position(relative, auto, auto, auto, auto);
    @include size(325px, 72px);
    margin: 12px 0 12px 10px;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1; /* so txt over hover bg */
    
    @include xlarge{
        margin: 0 30px;
    }
    
    &:hover{
        &::after{
            opacity:1;
        }
        .fas{
            color: map-get($map: $color-txt, $key: howitworks-item-hover);
        }
    }

    &::after{
        content: "";
        background-color: $color-primary-lightest;
        @include flexbox(row, nowrap, center, center);
        @include position(absolute, 0, 0, 0, 0);
        border-radius: 20px;
        opacity: 0;
        z-index: -1; /* because bg, needs to be under txt */
        transition: opacity $howitworks-item-anim-duration;
    }

    &__bullet{
        @include font-familiy-size(howitworks-bullet);
        @include color-bg-txt(howitworks-bullet);
        @include position(absolute, 24px, auto, auto, -12px); /* position circle */
        @include circle(24px);
        padding: 0 0 2px 0;

        p{
            @include position(absolute, 4px, auto, auto, 9px); /* because flexbox doesn't work properly in Firefox */
        }
    }

    i{
        color: map-get($map: $color-txt, $key: howitworks-icon);
        @include position(absolute, 28px, auto, auto, 35px); /* because flexbox doesn't work properly in Firefox */
        transition: color $howitworks-item-anim-duration;
    }

    .fa-mobile-alt{
        transform: scale(1.3, 1.3);
    }
    .fa-list{
        transform: scale(1, 1.3);
    }
    .fa-store{
        transform: scale(1, 1.2);
    }  
}
