/* loader */
.loader{
    background: rgba(246, 246, 246, 0.9);
    @include position (fixed, 0, 0, 0, 0);
    @include flexbox(row, nowrap, center, center);
    z-index: 99; /* is on top of everything */
    
    animation: loader $loader-anim-duration $loader-anim-delay linear both;
    /* is there from the start (opacity 1 while waiting / dots jumping up and down,
    stays away forever (opacity 0) */
    
    .dots{
        @include flexbox(row, nowrap, center, center);  
        @include size(100px, 50px);
    }
  
    &__dot{
        @include circle(14px);
        margin: 0 3px;

        animation: dots $dots-anim-duration ease-in-out $dots-iterations; 
        &--1{
            background-color: $color-primary;
            animation-delay: 100ms;
        }
        &--2{
            background-color: $color-secondary;
            animation-delay: 200ms;
        }
        &--3{
            background-color: $color-tertiary;
            animation-delay: 300ms;
        }
        &--4{
            background-color: $color-basic-medium;
            animation-delay: 400ms;
        }
    }
}
