.menu-item{
    @include color-bg-txt(menu-item);
    @include box-shadow(map-get($color-box-shadow, menu));
    @include flexbox(row, nowrap, space-between, flex-end);
    @include position(relative, auto, auto, auto, auto);
    @include size(100%, 68px);
    max-width: 450px;
    margin: 14px 0px auto;
    padding: 10px 23px 10px 11px;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden; /* so can't see check arriving before it's in the menu-item */
    
    animation: menu-item-anim $menu-item-anim-duration both ease-in-out;
    &--1{
        animation-delay: 150ms;
    }
    &--2{
        animation-delay: 300ms;
    }
    &--3{
        animation-delay: 450ms;
    }
    &--4{
        animation-delay: 600ms;
    }

    &__description{  
        flex: 1; /* so takes all the space up to the price */
        margin-right: 0;
        transition: margin-right $check-anim-duration;

        p:first-child{
            @include font-familiy-size(menu-item-name); 
        }
        p:nth-child(2){
            @include font-familiy-size(menu-item-more);
        } 
    }

    &:hover &__description{
        margin-right: 59px;
    }

    .ellipsis{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
    }

    &__price{
        @include font-familiy-size(menu-item-price);
        @include flexbox(row, nowrap, flex-end, flex-end);
        padding-left: 20px;
        transform: translateX(0);
        transition: transform $check-anim-duration;
    }

    &:hover &__price{
        transform: translateX(-59px);
    }

    &__check{
        background-color: map-get($map: $color-bg, $key: check);
        @include flexbox(row, nowrap, center, center);
        @include position(absolute, 0, 0, auto, auto);
        @include size(59px, 68px);
        border-radius: 0 15px 15px 0;
        opacity: 0;
        transform: translateX(100%);
        transition: transform $check-anim-duration, opacity 0ms; 
        /* duration 0 for opacity so check appears right away */
    }

    &:hover &__check{
        opacity: 1;
        transform: translateX(0);
    }

    &__check-icon{
        font-size: map-get($map: $font-size, $key: check-icon);
        @include color-bg-txt(check-icon);
        @include flexbox(row, nowrap, center, center);
        @include position(relative, auto, auto, auto, auto);
        @include circle(20px);
        transform: rotate(-450deg);
        transition: transform $check-anim-duration;

        .fas{
            @include position(relative, 1px, auto, auto, auto);
        }
    }
        
    &:hover &__check-icon{
        transform: rotate(0deg);
    }
}
