.restaurant-preview{
    @include color-bg-txt(restaurant-preview);
    @include box-shadow(map-get($color-box-shadow,restaurants));
    @include flexbox(column, nowrap, center, center);
    @include position(relative, auto, auto, auto, auto);
    @include size(100%, 250px);
    max-width: 600px;
    margin: 9px 0;
    border-radius: 15px;

    @include medium{
        width: 45%;
        margin: 9px 10px 30px 10px;
    }
    @include xlarge{
        margin: 9px 28px 30px 28px;
    }

    &__new{
        @include font-familiy-size(new);
        @include color-bg-txt(new);
        @include flexbox(row, nowrap, center, center);
        @include position(absolute, 13px, 13px, auto, auto);
        @include size(80px, 30px);
        border-radius: 2px;
        z-index: 1;
    }

    &__image{
        @include position(relative, auto, auto, auto, auto);
        @include size(100%, 175px);

        img{
            @include size(100%);
            object-fit: cover;
            object-position: 50% 100%;
            border-radius: 15px 15px 0 0;
        }
        #img-note{
            object-position: 0 61%;
        }
    }

    &__info{
        @include flexbox(row, nowrap, space-between, center);
        @include size(100%, 75px);
        padding: 0 24px 0 14px;
    }

    &__name{
        @include font-familiy-size(restaurant-name);
    }

    &__location{
        @include font-familiy-size(restaurant-location);
    }
}
