/* general display */
*{ /* reset margin and padding */
    box-sizing:border-box; 
    margin: 0;
    padding: 0;
};

body{ /* define minimum/maximum width */
    min-width: $min-width;
    max-width: $max-width;
    margin: auto;
}

span{ /* span instead of div because inside inline element (a href) */
    display: block; /* so span behaves as a div */
}

i{
    display: inline-block;
}


/* links style */
main{
    @include links-style; /* color by default is color for main txt so no need to specify here */
}
