/* font less bold in Firefox */
html{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

@-moz-document url-prefix(){
  body {
    font-weight: lighter !important;
  }
}

/* define fonts */

@font-face {
  font-family: 'shrikhandregular';
  src: url('../../fonts/shrikhand/shrikhand-regular-webfont.eot');
  src: url('../../fonts/shrikhand/shrikhand-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/shrikhand/shrikhand-regular-webfont.woff2') format('woff2'),
       url('../../fonts/shrikhand/shrikhand-regular-webfont.woff') format('woff'),
       url('../../fonts/shrikhand/shrikhand-regular-webfont.ttf') format('truetype'),
       url('../../fonts/shrikhand/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
  
  
@font-face{
  font-family: 'robotomedium';
  src: url('../../fonts/roboto/roboto-medium-webfont.eot');
  src: url('../../fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
       url('../../fonts/roboto/roboto-medium-webfont.woff') format('woff'),
       url('../../fonts/roboto/roboto-medium-webfont.ttf') format('truetype'),
       url('../../fonts/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
  
@font-face{
  font-family: 'robotoregular';
  src: url('../../fonts/roboto/roboto-regular-webfont.eot');
  src: url('../../fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
       url('../../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
       url('../../fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
       url('../../fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
  
@font-face{
  font-family: 'robotolight';
  src: url('../../fonts/roboto/roboto-light-webfont.eot');
  src: url('../../fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
     url('../../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
     url('../../fonts/roboto/roboto-light-webfont.woff') format('woff'),
     url('../../fonts/roboto/roboto-light-webfont.ttf') format('truetype'),
     url('../../fonts/roboto/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}  
   

h1{
  @include font-familiy-size(h1);
  @include size(100%, auto);
  line-height: 1.7rem;
}

h2{
  @include font-familiy-size(h2);
  @include size(100%, auto);
}

h3{
  @include font-familiy-size(h3);
}

h4{
  @include font-familiy-size(h4);
  text-transform: uppercase;   
}

em{
  font-weight: bold;
  font-style: normal;
}
