/* colors */
/* colors variables */
/* basic */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg-lightest:#ffffff;
$color-bg-light:#f6f6f6;
$color-bg-medium: #eaeaea;
$color-bg-dark: #353535;
$color-grad-2-1-to-bottom-right: linear-gradient(175deg, $color-secondary, $color-primary);
$color-grad-1-2-to-bottom: linear-gradient($color-primary, $color-secondary);
$color-box-shadow-medium30: darken($color-bg-medium, 30%);
$color-box-shadow-lightest10:darken($color-bg-lightest, 10%);
$color-box-shadow-light10:darken($color-bg-light, 10%);
/* animations */
/* $color-grad-2-1-to-bottom-right-lightened: lighten($color-grad-2-1-to-bottom-right, 20%);*/ /* check */
$color-box-shadow-btn-darkened: darken($color-bg-light, 20%); /* check */
$color-primary-lightened: ligthen($color-primary, 50%); /* check */

/* colors maps */
/* text */
$color-txt:(
    main: #000000,
    footer:  #ffffff,
    btn: #ffffff,
    howitworks-bullet: #ffffff,
    new: darken($color-tertiary, 40%), /* check */
    howitworks-icon: #7e7e7e,
    howitworks-icon-hover: $color-primary,
    check: $color-tertiary,
);

/* background */
$color-bg:(
    header: $color-bg-lightest,
    location: $color-bg-medium,
    presentation: $color-bg-light,
    howitworks: $color-bg-lightest,
    howitworks-item: $color-bg-light,
    howitworks-bullet: $color-primary,
    restaurants: $color-bg-light,
    restaurant-preview:$color-bg-lightest,
    footer: $color-bg-dark,
    new: $color-tertiary,
    btn: $color-grad-2-1-to-bottom-right,
    heart: $color-grad-1-2-to-bottom,
    check-transition: $color-tertiary,
    check-icon: $color-bg-lightest,
    menu: $color-bg-light,
    menu-img: $color-bg-medium,
    menu-line: $color-tertiary,
    menu-item: $color-bg-lightest,
    /* animations */
    howitworks-item-hover: $color-primary-lightened,

);

/* box-shadow */
$color-box-shadow:(
    location:$color-box-shadow-medium30,
    /*btn:$color-box-shadow-btn,*/
    howitworks:$color-box-shadow-lightest10,
    restaurants:$color-box-shadow-light10,
    menu:$color-box-shadow-light10,
);


/* fonts */
/* font size map */
$font-size:(
    h1: 1.5rem,    
    h2: 1.45rem,
    h3: 1.7rem,
    h4: 1rem,
    location: 1rem,
    presentation: 1.1rem,
    btn: 1rem,
    howitworks: 1rem,
    howitworks-bullet:0.85rem,
    restaurant-name: 1.1rem,
    restaurant-location: 1.1rem,
    new: 0.85rem,
    heart: 1.4rem,
    footer: 1rem,
    back-arrow: 1.2rem,
    menu-title: 3rem,
    menu-item-name: 1.15rem,
    menu-item-more: 0.92rem,
    menu-item-price: 0.9rem,
);

/* font-family-map */
$font-family:(
    h1: 'robotomedium',
    h2: 'robotomedium',
    h3: 'shrikhandregular',
    h4: 'robotolight',
    location: 'robotoregular',
    presentation: 'robotothin',
    howitworks: 'robotomedium',
    howitworks-bullet: 'robotoregular',
    new: 'robotoregular',
    restaurant-name: 'robotomedium',
    restaurant-location: 'robotolight',
    footer: 'robotolight',
    menu-item-name: 'robotomedium',
    menu-item-more: 'robotothin',
    menu-item-price: 'robotomedium',
);


/* buttons */
$width-explore: 218px;
$width-order: 186px;


/* breaking points map */
/* mobile 375-768px = default version */
$breaking-points:(
    tablet: 768px,
    desktop: 1200px,
)



/* animations */
/* duration */

/* delay */




