/* colors */
/* colors variables */
/* basic */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg-lightest:#ffffff;
$color-bg-light:#f6f6f6;
$color-bg-medium: #eaeaea;
$color-bg-dark: #353535;
$color-basic-dark: black;
$color-basic-light: #ffffff;
$color-basic-medium: #7e7e7e;
$color-tertiary-dark: #008766;
$color-grad-2-1-to-bottom-right: linear-gradient(175deg, $color-secondary, $color-primary);
$color-box-shadow-medium30: darken($color-bg-medium, 30%);
$color-box-shadow-lightest10:darken($color-bg-lightest, 10%);
$color-box-shadow-light10:darken($color-bg-light, 10%);
$color-box-shadow-light20:darken($color-bg-light, 20%);
/* animations */
$color-primary-lighter5: lighten($color-primary, 5%);
$color-secondary-lighter5: lighten($color-secondary, 5%);
$color-grad-2-1-to-bottom-right-lighter5: linear-gradient(175deg, $color-secondary-lighter5, $color-primary-lighter5);
$color-box-shadow-light25: darken($color-bg-light, 25%);
$color-grad-1-2-to-bottom: linear-gradient($color-primary, $color-secondary);
$color-tertiary-lighter30: ligthen($color-tertiary, 30%);
$color-primary-light: #f5edff;

/* colors maps */
/* text */
$color-txt:(
    main: $color-basic-dark,
    footer: $color-basic-light,
    btn: $color-basic-light,
    howitworks-bullet: $color-basic-light,
    new: $color-tertiary-dark,
    howitworks-icon: $color-basic-medium,
    /* animations */
    howitworks-icon-hover: $color-primary,
    check-icon: $color-tertiary,
);

/* background */
$color-bg:(
    header: $color-bg-lightest,
    location: $color-bg-medium,
    presentation: $color-bg-light,
    howitworks: $color-bg-lightest,
    howitworks-item: $color-bg-light,
    howitworks-bullet: $color-primary,
    restaurants: $color-bg-light,
    restaurant-preview:$color-bg-lightest,
    footer: $color-bg-dark,
    new: $color-tertiary,
    btn: $color-grad-2-1-to-bottom-right,
    check-transition: $color-tertiary,
    check-icon: $color-bg-lightest,
    menu-txt: $color-bg-light,
    menu: $color-bg-medium,
    menu-line: $color-tertiary,
    menu-item: $color-bg-lightest,
    /* animations */
    btn-hover: $color-grad-2-1-to-bottom-right-lighter5,
    howitworks-item-hover: $color-primary-light,
    arrow-hover: $color-tertiary-lighter30,
    check: $color-tertiary,
);

/* box-shadow */
$color-box-shadow:(
    location:$color-box-shadow-medium30,
    btn:$color-box-shadow-light20,
    howitworks:$color-box-shadow-lightest10,
    restaurants:$color-box-shadow-light10,
    menu:$color-box-shadow-light10,
    /* animations */
    btn-hover: $color-box-shadow-light25,
);


/* fonts */
/* font size map */
$font-size:(
    h1: 1.5rem,    
    h2: 1.45rem,
    h3: 1.7rem,
    h4: 1rem,
    location: 1rem,
    presentation: 1.1rem,
    btn: 1rem,
    howitworks: 1rem,
    howitworks-bullet:0.85rem,
    restaurant-name: 1.1rem,
    restaurant-location: 1.1rem,
    new: 0.85rem,
    heart: 1.4rem,
    footer: 1rem,
    back-arrow: 1.2rem,
    menu-title: 3rem,
    menu-item-name: 1.15rem,
    menu-item-more: 0.92rem,
    menu-item-price: 0.9rem,
    check-icon: 0.85rem,
);

/* font-family */
/* variables */
$robotomedium: 'robotomedium'; /* how to add font options? */
$robotoregular: 'robotoregular';
$robotolight: 'robotolight';
$robotothin: 'robotothin';
$shrikhand: 'shrikhandregular';


/* map */
$font-family:(
    h1: $robotomedium,
    h2: $robotomedium,
    h3: $shrikhand,
    h4: $robotolight,
    location: $robotoregular,
    presentation: $robotothin,
    howitworks: $robotomedium,
    howitworks-bullet: $robotoregular,
    new: $robotoregular,
    restaurant-name: $robotomedium,
    restaurant-location: $robotolight,
    footer: $robotolight,
    menu-item-name: $robotomedium,
    menu-item-more: $robotothin,
    menu-item-price: $robotomedium,
    check-icon: $robotolight,
);


/* buttons */
$width-explore: 218px;
$width-order: 186px;


/* breaking points map */
/* mobile 375-768px = default version */
$breaking-points:(
    medium: 768px,
    xlarge: 1200px,
);


/* animations */
/* btn */
$btn-anim-duration: 250ms;
/* like */
$like-anim-duration: 400ms;
/* back arrow */
$arrow-anim-duration: 250ms;
/* howitworks-item */
$howitworks-item-anim-duration: 250ms;
/* check */
$check-anim-duration: 400ms;
/* menu-item apparition */
$menu-item-anim-duration: 600ms ;
/*   
$item-delay: 100ms;
$menu-item-anim-duration: dollar i * $item-delay;
for @for loop but doesn't work 
*/


/* loading spinner */









