header{
    @include color-bg-txt(header);
    @include flexbox(row, nowrap, center, center);
    @include position(relative, auto, auto, auto, auto);
    @include size(100%, auto);
    padding: 23px 0 7px 0;

    i{
        font-size: map-get($map: $font-size, $key: back-arrow);
        color: map-get($map: $color-txt, $key: back-arrow);
    }
}

#back-arrow{
    @include flexbox(row, nowrap, center, center);
    @include position(absolute, 16px, 0, 0, 13px);
    @include circle(37px);
    z-index: 1;

    &:hover{
        i{
            color: map-get($map: $color-txt, $key: arrow-hover);
        }
        &::after{
            opacity:1;
        }
    }
    &::after{ /* shows back arrow is clickable for better user experience */
        @include flexbox(row, nowrap, center, center);
        @include position(absolute, 0, 0, 0, 0);
        @include circle(37px);
        content: "";
        background-color: $color-tertiary-lighter;
        z-index: -1;
        opacity: 0;
        transition: opacity $arrow-anim-duration;
    } 
}

#logo{
    width: 165px;
    margin: 0 auto;
    padding: 0 0 0 0;

    img{
        @include size(100%, auto);
    }
}
