#how-it-works{
    width: 100%;
    background-color: map-get($map: $color-bg, $key: howitworks);
    padding: 32px 20px 56px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: map-get($map: $font-family, $key: howitworks);
    font-size: map-get($map: $font-size, $key: howitworks);
    @include desktop{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    h2{
        width: 100%;
        margin: 20px 0;
        font-family: map-get($map: $font-family, $key: h2);
        font-size: map-get($map: $font-size, $key: h2);
    }
}
