#location{
    @include font-familiy-size(location);
    @include color-bg-txt(location);
    @include size(100%, auto);
    padding: 14px;
    box-shadow: inset 0px 5px 5px -5px map-get($map: $color-box-shadow, $key: location );
}

.location-content{
    @include flexbox(row, nowrap, center, center);
    margin: 0 auto;

    h5{
        @include position(relative, auto, auto, auto, auto);
    }

    i{
        @include position(absolute, auto, auto, auto, -30px); 
    }
}
