.menu{
    @include color-bg-txt(menu);
    @include flexbox(column, nowrap, center, center);
    @include size(100%, auto);
    z-index: 1;

    &__img{
        @include flexbox(row, nowrap, center, center);
        @include size(100%, 275px);
        justify-content: center;
        z-index: 2;

        img{
            @include size(100%);
            max-width: 600px;
            object-fit: cover;
            z-index: 3;
        }
    }

    &__txt{
        @include color-bg-txt(menu-txt);
        @include size(100%, auto);
        max-width: 800px;
        border-radius: 40px 40px 0 0;
        margin: -55px 0 0 0;
        padding: 30px 13px 70px 13px;
        z-index: 4;

        @include xlarge{
            max-width: 1500px;
        }
    }

    &__title{
        @include flexbox(row, nowrap, space-between, center);
        padding: 0 24px 25px 5px;
    }

    &__dishes{
        @include xlarge{
            @include flexbox(row, nowrap, space-around, center);
        }
    }

    &__dish-type{
        margin: 0 0 43px 0;
        @include xlarge{
            width: 30%;
            margin: 0 10px 43px 10px;
        }
    }

    &__dish-list{
        @include flexbox(column, nowrap, center, center);
    }

    h4{
        padding: 0 0 0 7px;
    }

    &__line{
        background-color: map-get($map: $color-bg, $key: menu-line);
        @include size(40px, 3px);
        margin: 5px 0 7px 7px;
    }

    .order-btn{
        @include flexbox(row, nowrap, center, center);
        padding: 10px 0;
    }
}
