#presentation{
    @include font-familiy-size(presentation);
    @include color-bg-txt(presentation);
    @include size(100%, auto);
    padding: 42px 30px 54px 30px;
    text-align: center;

    h1{
        margin: 0 0 15px 0;
        padding: 0 10px 0 10px;
    }
}
